table
{
    border-collapse: collapse;
}
td,th
{
	border: hidden;
}
.tdthbord
{
	border: 1px solid black;
}
.beauboutonbleu {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.beaubouton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.beaubouton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   
.beauboutonvert {
   border-top: 1px solid #edf797;
   background: #6bd465;
   background: -webkit-gradient(linear, left top, left bottom, from(#509c3e), to(#6bd465));
   background: -webkit-linear-gradient(top, #509c3e, #6bd465);
   background: -moz-linear-gradient(top, #509c3e, #6bd465);
   background: -ms-linear-gradient(top, #509c3e, #6bd465);
   background: -o-linear-gradient(top, #509c3e, #6bd465);
   padding: 7px 14px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.beauboutonvert:hover {
   border-top-color: #407828;
   background: #407828;
   color: #ccc;
   }
.beauboutonvert:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
